---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderHeroProblem from '../components/HeaderHeroProblem.astro';
import InvoiceFlow from '../components/InvoiceFlow.astro';
import ApprovalTools from '../components/ApprovalTools.astro';
import FaqClosing from '../components/FaqClosing.astro';
---
<BaseLayout>
  <main id="main-content" tabindex="-1" class="site-canvas">
    <HeaderHeroProblem />
    <InvoiceFlow />
    <ApprovalTools />
    <FaqClosing />
  </main>
</BaseLayout>
